<launch>

    <arg name="robot_ip" default="10.15.20.4"/>
    <arg name="tf_prefix" default="" />
    <arg name="kinematics_config" default="$(find ur5e_bringup)/config/ur5e_calibration.yaml" />
    <arg name="rviz_config" default="$(find ur5e_bringup)/config/rviz_config.rviz" />
    <arg name="headless_mode" default="true" />
    <arg name="use_rviz" default="false" />

    <!-- <param name="robot_description" command="$(find xacro)/xacro -inorder $(find panther_description)/../examples/ouster_os1_32/panther.urdf.xacro" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <node pkg="tf" type="static_transform_publisher" name="ur5e_broadcaster" args="-0.135 0.1725 0.354 3.14 0 0 base_link base_link_inertia 100" /> -->
    
    <include file="$(find ur_robot_driver)/launch/ur5e_bringup.launch">
        <arg name="robot_ip" value="$(arg robot_ip)" />
        <arg name="tf_prefix" value="$(arg tf_prefix)" />
        <arg name="kinematics_config" value="$(arg kinematics_config)" />
        <arg name="headless_mode" value="$(arg headless_mode)" />
    </include>

    <include file="$(find ur5e_moveit_config)/launch/move_group.launch" />
    
    <node if="$(arg use_rviz)" name="rviz" pkg="rviz" type="rviz" respawn="false" output="screen" args="-d $(arg rviz_config)"/>

</launch>
