<?xml version='1.0'?>

<robot name="panther_ur5e" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="use_gpu" default="false" />
  <xacro:arg name="dual_bat" default="false" />
  <xacro:arg name="wheel_config_path" default="$(find panther_description)/config/WH01.yaml" />

  <!-- Robot -->
  <xacro:include filename="$(find panther_description)/urdf/panther_macro.urdf.xacro" ns="husarion" />
  <xacro:include filename="$(find ur_description)/urdf/inc/ur5e_macro.xacro" ns="universal_robot"/>
  <xacro:include filename="$(find ur_components_description)/urdf/onrobot_rg2.urdf.xacro" ns="onrobot" />

  <xacro:husarion.panther_robot 
    dual_bat="$(arg dual_bat)" 
    wheel_config_path="$(arg wheel_config_path)" 
    use_ros_control="True" />
  <xacro:universal_robot.ur5e_robot prefix="panther_ur5e_" />
  <xacro:onrobot.onrobot_rg2 parent_link="panther_ur5e_tool0" xyz="0.0 0.0 0.02" rpy="${-pi/2} ${-pi/2} 0.0" />

  <joint name="base_link_to_ur5e_link_joint" type="fixed">
    <origin xyz="-0.095 0.0975 0.375" rpy="0.0 0.0 ${pi/2}" />
    <parent link="base_link" />
    <child link="panther_ur5e_base_link" />
  </joint>

  <!-- Components -->
  <xacro:include filename="$(find ur_components_description)/urdf/upper_rails.urdf.xacro" ns="rails" />

  <xacro:rails.upper_rails parent_link="base_link" xyz="0.0 0.0 0.334" rpy="0.0 ${-pi/2} 0.0" />

</robot>